.mainProjectItem{
  position: relative;
  opacity: 0;
  padding: 0px;
  margin: 0px;
  list-style: none;
  animation: upContent 1s ease forwards 1.5s;
  .cardWarp{
    margin: 40px;
    height: 450px;
    div.mainImg{
      float: left;
      overflow:hidden;
      box-shadow: 5px 5px 7px #eee;
      border-radius: 30px;
      .slidehelper{
        position: relative;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        .mainImgList{
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          border-radius: 30px;
          float: left;
          margin-bottom: 10px;
        }
      }
    }
    .imgListBox{
      .mainImgList{
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center;
        overflow:hidden;
        border-radius: 20px;
        &:not(:last-child){
          margin-bottom: 10px;
        }
      }
    }

  }
}

@media screen and (min-width: $mobile-width+600px) {
  .cardWarp{
    position: relative;
    width : $mobile-width+600px;
    left: 50%;
    transform: translateX(-50%);
    padding:  30px 100px;
    .mainImg{
      width: 450px;
      height: 450px;
    }
    .imgListBox{
      position: relative;
      width: 100px;
      height: 430px;
      top: calc(50% - 215px);
      left: 40px;
      float: left;
      transform: scale(0.7);
      .mainImgList{
      }
    }
    .cardContent{
      position: relative;
      float: right;
      overflow:auto;
      top: 50%;
      width: calc(100% - 700px);
      min-width: 300px;
      transform: translateY(-50%);
      margin-right: 50px;
      p:first-child{
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 20px;
      }
      p:nth-child(2){
        font-weight: lighter;
        font-size: 1.1em;
      }
    }
  }
}

@media screen and (max-width: $mobile-width+600px){
  .cardWarp{
    .mainImg{
      position: relative;
      width: 90vw;
      height: 90vw;
      left: 50%;
      transform: translateX(-50%);
    }
    .imgListBox{
      position: relative;
      margin-top: 20px;
      width: 460px;
      left: calc(50% - 230px);
      transform: scale(0.7);
      float: left;
      .mainImgList{
        float: left;
        &:not(:last-child){
          margin-right: 20px;
        }
      }
    }
    .cardContent{
      float: left;
      padding: 20px;
      p:first-child{
        font-weight: bold;
        font-size: 1.3em;
        margin-bottom: 20px;
      }
      p:last-child{
        font-weight: lighter;
        font-size: 0.9em;
      }
    }
  }
}