.content{
  position: relative;
  height: 10vh;
  min-height: calc(100% - 50vh);
  width: 100%;
  font-weight: lighter;
  .textBox{
    position: relative;
    text-align: center;
    p{
      position: relative;
      opacity: 0;
      animation: upContent 1s ease forwards 0.8s;
    }
    b{
      font-weight: normal;
    }
    .blogBtn{
      opacity: 0;
      position: relative;
      margin: 20px auto 0;
      width: 300px;
      height: 50px;
      border-radius: 10px;
      color: white;
      font-weight: bold;
      line-height: 50px;
      background-color:#11264f;
      animation: upContent 1s ease forwards 1.4s;
      transition: 0.25s;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
}
.blogImg{
  position: relative;
  opacity: 0;
  bottom: 0;
  width: 90vw;
  height: 60vh;
  background-size: cover;
  background-position: center top;
  margin: 0px auto;
  animation: upContent 1s ease forwards 0.4s;
}

@media screen and (min-width: $mobile-width+1) {
  .textBox{
    height: 210px;
    top: calc(50% - 105px);
    p{
      font-size: 2em;
    }
  }
  .blogImg{
    background-image: url("../image/blog.png");
  }
}
@media screen and (max-width: $mobile-width){
  .textBox{
    width: 100%;
    height: 175px;
    top: calc(50% - 87.5px);
    p{
      font-size: 1.5em;
    }
  }
  .blogImg{
    background-image: url("../image/mobileBlog.jpeg");
    box-shadow: 0 0 10px #999;
    border-top-left-radius: $mobile-blog-radius;
    border-top-right-radius: $mobile-blog-radius;
    background-position: center;
  }
}