.contactWarp{
  .profileBox{
    position: relative;
    margin: 0 auto;
    clear: both;
    opacity: 0;
    animation: upContent 1s ease forwards 0s;

   div.titleText{
      margin-top: 5px;
      float: left;
      font-size: 2em;
      font-weight: normal;
     transition: 0.25s;
      >p{
        font-weight: lighter;
        font-size: 0.6em;
        >b{
          font-weight: normal;
          font-size: 1.8em;
        }
      }
      .blogIcon{
        color: #888888;
        font-size: 0.5em;
        font-weight: normal;
        margin: 10px 0 10px;
        svg{
          width: 15px;
          margin-right: 20px;
        }
      }
      .contactMent{
        font-size: 0.5em;
        font-weight: lighter;
        padding-bottom: 10px;
      }
    }
  }

  .contactBtn{
    position: relative;
    clear: both;
    height: 50px;
    width: 350px;
    margin: 0 auto;
    padding: 50px 0;
    opacity: 0;
    animation: upContent 1s ease forwards 0.5s;
    button{
      width: 170px;
      height: 50px;
      border-radius: 50px;
      border: none;
      background-color: transparent;
      color: white;
      font-weight: normal;
      font-size: 0.9em;
      &:first-child{
        background-color: #ffe812;
        color: black;
      }
      &:last-child{
        background-color: #0074d9;
      }
      &:not(:last-child){
        margin-right: 10px;
      }
    }
  }

  .contactImgBox{
    position: relative;
    opacity: 0;
    animation: upContent 1s ease forwards 1s;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    min-width: 500px;
    margin: 0px auto;
    div{
      flex:1;
      min-width: 300px;
      height: 400px;
      padding: 10px;
      text-align: center;
      border-radius: 30px;
      overflow: hidden;
      >div{
        position: relative;
        background-size: cover;
        background-position: center;
      }
    }
  }

}


@media screen and (min-width : $mobile-width){
  .contactWarp{
    position: relative;
    padding: 50px 0;
    width: 100vw;
    min-width: 600px;
    .profileBox{
      width: 650px;
      overflow-y: auto;
      img{
        float: left;
        width: 170px;
        height: 170px;
        border-radius: 300px;
      }
      .titleText{
        padding: 0 0px 0 40px;
      }
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .contactWarp{
    width: 100vw;
    padding: 50px 0;
    img{
      position: relative;
      width: 300px;
      height: 300px;
      border-radius: 300px;
      left: 50%;
      transform: translateX(-50%);
    }
    .titleText{
      position: relative;
      left: 50%;
      top: 10px;
      transform: translateX(-50%);
    }
  }
}