
.topNavBar{
  position: fixed;
  transition: 0.3s;
  top: 0;
  z-index: 9999999;
  width: 100vw;
  height: $topNavHeight;
  background-color: #fff;
  border-bottom: 2px solid #eee;
  header{
    float: left;
    padding-left: 50px;
    line-height: 95px;
    font-size: 2em;
  }
  ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    float: right;
    overflow: auto;
    list-style: none;
    padding: 0px;
    margin: 0px;
    &::-webkit-scrollbar{ width: 0px }
    li{
      flex: 1;
      text-align: center;
      line-height: 100px;
      &:first-child{display: none}
      a{
        color: #969696;
        text-decoration: none;
        font-size: 1.3em;
        font-weight: 500;
        transition: 0.6s;
        &.active{
          color: #545454;
        }
        &:hover{
          color: #545454;
        }
      }
    }
  }
}
@media screen and ( min-width : $mobile-width+1 ) {
  .hambugBtn{
    display: none;
  }
  .topNavMarginBox{
    width: 100%;
    height: $topNavHeight+2;
  }
  .topNavBar{
    ul{
      width: 40%;
      min-width: 200px;
    }
  }
}

@media screen and ( max-width : $mobile-width ) {
  .hambugBtn{
    position: absolute;
    right: 20px;
    top: 15px;
    .btn-1-line, .btn-2-line, .btn-3-line{
      width: 30px;
      height: 3px;
      margin-bottom: 5px;
      border-radius: 10px;
      background-color: #566973;
    }
  }

  .topNavMarginBox{
    height: 50px;
  }

  .topNavBar{
    height: 50px;
    header{
      font-size: 1em;
      line-height: 50px;
    }
    ul{
      position: relative;
      top: 50px;
      width: 200px;
      li{
        min-width: 200px;
        border-top: 2px solid #eee;
        background-color: #fff;
        float: right;
        line-height: 50px;
      }
      &.openDropMenu{
        opacity: 0;
        display: block;
        animation: openMenu 0.2s ease-out forwards 0s;
      }
      &.closeDropMenu{
        opacity: 0;

        animation: closeMenu 0.2s ease-in forwards 0s;
      }
    }

  }

}

@keyframes openMenu {
  0%{
    opacity: 0;

  }
  100%{
    opacity: 1;
  }
}

@keyframes closeMenu {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    display: none;
  }
}
