.profileInfo{
  flex:1;
  width: 100%;


  .infoTextBox{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
    height: 400px;
    span{
      p{
        position: relative;
        opacity: 0;
      }
    }
    .nameText{
      font-size: 3em;
      line-height: 50px;
      p{
        animation: upContent 0.7s ease forwards 1s;
      }
      p:nth-child(1){
        font-weight: bold;
      }
      p:nth-child(2){
        color: #888888;
        font-size: 0.6em;
        font-weight: lighter;
        margin-bottom: 50px;
      }
    }

    .studyingText{
      p{
        line-height: 30px;
        font-size: 1.5em;
        font-weight: lighter;
        animation: upContent 0.7s ease forwards 1.3s;
      }
      p:first-child{
        margin : 30px 0 20px 0;
        font-weight: 400;
        font-size: 3em;
      }
      p:last-child{
        margin-bottom: 70px;
      }
    }

    .skillImages{
      img{
        position: relative;
        opacity: 0;
        width: 90px;
        &.skill-0{animation: upContent 0.7s ease forwards 1.7s;}
        &.skill-1{animation: upContent 0.7s ease forwards 1.9s;}
        &.skill-2{animation: upContent 0.7s ease forwards 2.1s;}
        &.skill-3{animation: upContent 0.7s ease forwards 2.2s;}
        &.skill-4{animation: upContent 0.7s ease forwards 2.5s;}
      }
    }
  }
}

@media screen and(min-width: $mobile-width+1){
  .profileInfo{
    min-width: 600px;
  }
}

@media screen and (max-width: $mobile-width){
  profileInfo{
    min-width: 300px;
  }
  .infoTextBox{
    text-align: center;
  }
}