.profile{
  flex:1;
  width: 100%;
  min-width: $flex-min-width;
  .profileImgBox{
    position: relative;
    top:calc(50% - 245px);
    left: calc(50% - 235px);
    width: 470px;
    height: 490px;
    div{
      position: relative;
      opacity: 0;
      width: $imgSize;
      height: $imgSize;
      border-radius: $imgSize;
      border: 10px solid #fff;
      &.firstCircle {
        background-color: #e7ffcd;
        left: 50px;
        animation: upContent 0.7s ease forwards 0s;
      }
      &.secondCircle{
        background-color: #ccff66;
        margin-top: -150px;
        animation: upContent 0.7s ease forwards 0.3s;
      }
      &.imgBox{
        margin-top: -400px;
        left: 150px;
        background-image: url("../../image/profile.jpeg");
        background-size: cover;
        animation: upContent 0.7s ease forwards 0.6s;
      }
    }
  }
}

@media screen and (max-width: $mobile-width){
  .profileImgBox{
    transform: scale(0.7);
  }
}